name: Deploy Lambda

on:
  pull_request:
    branches: [ "main" ]
    types: [ closed ]

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::809790668656:role/GitHubActionsLambdaDeployRole
          aws-region: ap-northeast-1

      - name: Zip Lambda code
        run: |
          cd lambda
          zip -r ../lambda.zip .

      - name: Deploy to Lambda
        run: |
          aws lambda update-function-code \
            --function-name discord-ec2-controller \
            --zip-file fileb://lambda.zip
